force-app/main/default/flows/Find_Module_By_Skill_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_text</name>
        <label>assign text</label>
        <locationX>531</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>displayData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>moduleTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modules_Loop</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>skills</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skills__c</picklistField>
        <picklistObject>Module__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Find Module By Skill 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Find Module By Skill 2</label>
    <loops>
        <name>Modules_Loop</name>
        <label>Modules Loop</label>
        <locationX>259</locationX>
        <locationY>481</locationY>
        <collectionReference>Get_Modules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Modules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Modules</name>
        <label>Get Modules</label>
        <locationX>90</locationX>
        <locationY>319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modules_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skills__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Module__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Find_Modules_By_Skill</name>
        <label>Find Modules By Skill</label>
        <locationX>536</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Modules</targetReference>
        </connector>
        <fields>
            <name>Skill</name>
            <choiceReferences>skills</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skill</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modules</name>
        <label>Modules</label>
        <locationX>860</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Module_s</name>
            <fieldText>&lt;p&gt;{!displayData}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Find_Modules_By_Skill</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>moduleTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Modules_Loop.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>displayData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
