force-app/main/default/flows/Update_total_points_of_trail_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Calculate_total_points</name>
        <label>Calculate total points</label>
        <locationX>387</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>sum_of_points</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_in_module_responses.Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_module_responses</targetReference>
        </connector>
    </assignments>
    <description>Updates field total points of trail user based on the module responses related</description>
    <environments>Default</environments>
    <interviewLabel>Update total points of trail user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update total points of trail user</label>
    <loops>
        <name>Loop_in_module_responses</name>
        <label>Loop in module responses</label>
        <locationX>197</locationX>
        <locationY>415</locationY>
        <collectionReference>getmoduleresponses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_total_points</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_user_trail_points</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get the modules responses related to the user trail record</description>
        <name>Get_modules_responses_within_user_trail</name>
        <label>Get modules responses within user trail</label>
        <locationX>538</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_module_responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Trail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Module_Response__c</object>
        <outputReference>getmoduleresponses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Points__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_user_trail_points</name>
        <label>Update user trail points</label>
        <locationX>62</locationX>
        <locationY>293</locationY>
        <inputAssignments>
            <field>Total_Points__c</field>
            <value>
                <elementReference>sum_of_points</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_modules_responses_within_user_trail</targetReference>
        </connector>
        <object>User_Trail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getmoduleresponses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Module_Response__c</objectType>
    </variables>
    <variables>
        <name>sum_of_points</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
