force-app/main/default/flows/Update_Module_To_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Module_To_Completed</name>
        <label>Update Module To Completed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_All_Units_Completed</name>
        <label>Check All Units Completed</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Units_Completed_Equal_To_Total_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Units_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Unit_Response_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Module_To_Completed</targetReference>
            </connector>
            <label>Units Completed Equal To Total Units</label>
        </rules>
    </decisions>
    <description>Update the status of the module response to completed when the student has completed all the units</description>
    <environments>Default</environments>
    <interviewLabel>Update Module To Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Module To Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_All_Units_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Units_Completed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Module_Response__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
